@model ML.Producto
@{
    ViewData["Title"] = "GetAllProducto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>GetAllProducto</h1>
@using (Html.BeginForm("GetSucursal", "SucursalProducto", FormMethod.Post, new { enctype = "multipart/form-data" })) //se hace uso del form Post
{
    <div id="formulario">
        <div class="row">
            <div class="col-md-4">
                @Html.LabelFor(producto => Model.Departamento.Area.Areas)
                @Html.DropDownListFor(producto => Model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Selecciona un Area", new { @id = "ddlArea", @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Departamento.Area.IdArea, "", new { @class = "text-danger", @id = "lblDepartamentoErrorMessage" })

            </div>

            <div class="col-md-4">
                @Html.LabelFor(model => Model.Departamento.Departamentos)

                @if (Model.Departamento.Departamentos != null)
                {
                    @Html.DropDownListFor(model => Model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un Departamento2", new { @id = "ddlDepartamento", @class = "form-control" })
                }
                else
                {
                    @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(string.Empty, "IdDepartamento", "Nombre"), "Selecciona un Departamento3", htmlAttributes: new { @id = "ddlDepartamento", @class = "form-control" })
                }

            </div>

        
            <div class="col-md-2 mt-4 ">
                <input type="submit" class="btn btn-success" value="Mostrar sucursal" onclick="return mostrarProductosSucursal();" />
            </div>
        </div>
    </div>
}

<div id="sucursalesProductos">

</div>

<!-- Incluye jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script type="text/javascript">


    $(document).ready(function () {

        $("#ddlArea").change(function () {

            $("#ddlDepartamento").empty();
            var url = '/Venta/GetDepartamentosList';

            $.ajax({
                type: 'POST',
                url: url,
                dataType: 'json',
                data: { IdArea: $("#ddlArea").val() },
                success: function (departamentos) {
                    $("#ddlDepartamento").append('<option value="0">' + 'Seleccione un departamento0' + '</option>');
                    $.each(departamentos, function (i, departamentos) {
                        $("#ddlDepartamento").append('<option value="'
                            + departamentos.idDepartamento + '">'
                            + departamentos.nombre + '</option>');
                    });
                },
                error: function (ex) {
                    alert('Failed.' + ex);
                }
            });
        });
    });

    function mostrarProductosSucursal() {
        var selectedDepartamento = $('#ddlDepartamento').val();
        console.log("selectedSucursal: " + selectedDepartamento);
        $.ajax({
            type: 'POST',
            url: '@Url.Action("GetProducto", "Venta")',
            data: { IdDepartamento: selectedDepartamento },
            success: function (data) {
                $('#sucursalesProductos').html(data);
            },
            error: function () {
                alert('error a traer los datos');

            }
        });
        return false;
    }
</script>