@model ML.SucursalProducto

@if (Model.SucuralesProductos != null)
{
    <section style="background-color: #eee;">
        <div class="container py-5 mt-5">
            <div class="row row-cols-1 row-cols-md-3 g-4">
                @foreach (ML.SucursalProducto producto in Model.SucuralesProductos)
                {
                    <div class="col">
                        <div class="card text-black">
                            @if (producto.Producto.Imagen != null)
                            {
                                <img src="data:image/jpg;base64,@Convert.ToBase64String(producto.Producto.Imagen)" style="width:150px; height:150px" class="card-img-top rounded mx-auto d-block" />
                            }
                            else
                            {
                                <img id="imgUsuario" src="~/Images/producto.png" style="width:150px; height:150px" class="card-img-top rounded mx-auto d-block" />
                            }
                            <div class="card-body">
                                <div class="text-center mt-1">
                                    <h4 class="card-title">@producto.Producto.Nombre</h4>
                                    <h6 class="text-primary mb-1 pb-3">Precio @producto.Producto.PrecioUnitario</h6>
                                </div>
                                @if (producto.Stock == 0)
                                {
                                    <div class="alert alert-danger" role="alert">
                                        <div class="text-center">
                                            ¡¡No hay stock!!
                                        </div>
                                    </div>
                                    @* <div class="text-center">
                                        <div class="d-flex flex-column mb-4 alert alert-danger" role="alert">
                                            <span>
                                                ¡¡Sin stock!!
                                            </span>
                                        </div>
                                    </div> *@
                                }
                                else
                                {
                                    <div class="text-center">
                                        <div class="d-flex flex-column mb-4">
                                            <span>En stok: @producto.Stock</span>
                                        </div>
                                    </div>
                                }
                                <div class="text-center">
                                    <div class="d-flex flex-column mb-4">
                                        <span>@producto.Producto.Descripcion</span>
                                    </div>
                                </div>

                                @if (producto.Stock == 0)
                                {

                                }
                                else
                                {
                                    <div class="d-flex flex-row">
                                        <a class="btn btn-primary flex-fill ms-1" href="@Url.Action("AddCart", "Venta", new { IdSucursalProducto = producto.IdSucursalProducto })">Agregar al carrito</a>
                                    </div>
                                }
                                
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>

}
else
{
    <div class="row m-5">
        <div class="col">
            <div class="alert alert-danger" role="alert">No existen registros.</div>

        </div>
    </div>

}




