@model ML.Producto
@{
    ViewData["Title"] = "Form";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-lg-12">
            <h2>Producto</h2>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <h5> Ingrese los datos del producto</h5>
        </div>
        <hr />
    </div>

    <form asp-action="Form" asp-controller="Producto" method="post" enctype="multipart/form-data">
        <div class="row">
            <div class="col-md-4">
                <label asp-for="IdProducto" hidden class="hidden"></label>
                <input asp-for="IdProducto" hidden class="form-control hidden" />
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-md-4">
                <label asp-for="Nombre"></label>
                <input asp-for="Nombre" class="form-control" />
                <span asp-validation-for="Nombre" class="text-danger" id="lblCurpErrorMessage"></span>
            </div>

             <div class="col-md-4">
            <label asp-for="PrecioUnitario"></label>
            <input asp-for="PrecioUnitario" class="form-control" />
            <span asp-validation-for="PrecioUnitario" class="text-danger" id="lblCurpErrorMessage"></span>
            </div>

            <div class="col-md-4">
                @Html.LabelFor(producto => Model.Proveedor.Proveedores)
                @Html.DropDownListFor(producto => Model.Proveedor.IdProveedor, new SelectList(Model.Proveedor.Proveedores, "IdProveedor", "Nombre"), "Selecciona un Numero ", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Proveedor.IdProveedor, "", new { @class = "text-danger", @id = "lblProveedorErrorMessage" })

            </div>

        </div>
        <br>

        <div class="row">
          

            <div class="col-md-4">
                @Html.LabelFor(producto => Model.Marca.Marcas)
                @Html.DropDownListFor(producto => Model.Marca.IdMarca, new SelectList(Model.Marca.Marcas, "IdMarca", "Nombre"), "Selecciona una Marca", new { @id = "ddlMarca", @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Marca.IdMarca, "", new { @class = "text-danger", @id = "lblDepartamentoErrorMessage" })

            </div>

            @* <div class="col-md-4">
                @Html.LabelFor(producto => Model.Departamento.Departamentos)
                @Html.DropDownListFor(producto => Model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un Departamento", new { @id = "ddlDepartamento", @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Departamento.IdDepartamento, "", new { @class = "text-danger", @id = "lblProveedorErrorMessage" })

            </div> *@

            <div class="col-md-4">
                @Html.LabelFor(producto => Model.Departamento.Area.Areas)
                @Html.DropDownListFor(producto => Model.Departamento.Area.IdArea, new SelectList(Model.Departamento.Area.Areas, "IdArea", "Nombre"), "Selecciona un Area", new { @id = "ddlArea", @class = "form-control" })
                @Html.ValidationMessageFor(model => Model.Departamento.Area.IdArea, "", new { @class = "text-danger", @id = "lblDepartamentoErrorMessage" })

            </div>

            <div class="col-md-4">
            @Html.LabelFor(model => Model.Departamento.Departamentos)

            @if (Model.Departamento.Departamentos != null)
            {
            @Html.DropDownListFor(model => Model.Departamento.IdDepartamento, new SelectList(Model.Departamento.Departamentos, "IdDepartamento", "Nombre"), "Selecciona un Departamento2", new { @id = "ddlDepartamento", @class = "form-control" })
            }
            else
            {
            @Html.DropDownListFor(model => model.Departamento.IdDepartamento, new SelectList(string.Empty, "IdDepartamento", "Nombre"), "Selecciona un Departamento3", htmlAttributes: new { @id = "ddlDepartamento", @class = "form-control" })
            }

            </div>

        </div>

        <br>

        <div class="row">

            <div class="col-md-4">
                <label asp-for="CodigoBarras"></label>
                <input asp-for="CodigoBarras" class="form-control" />
                <span asp-validation-for="CodigoBarras" class="text-danger" id="lblCurpErrorMessage"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Descripcion"></label>
                <textarea asp-for="Descripcion" class="form-control"></textarea>
                <span asp-validation-for="Descripcion" class="text-danger" id="lblCurpErrorMessage"></span>
            </div>

            <div class="col-md-4">
                <label asp-for="Modelo"></label>
                <input asp-for="Modelo" class="form-control" />
                <span asp-validation-for="Modelo" class="text-danger" id="lblCurpErrorMessage"></span>
            </div>
        </div>
        <br>
        <div class="row">
          
            <div class="col-md-4">
                @Html.LabelFor(model => Model.Imagen)
                <input type="file" name="imgProducto" id="fuimgProducto" onchange="imgPreview(event);" />
                @Html.ValidationMessageFor(model => Model.Imagen, "", new { @class = "text-danger", @id = "lblImagenErrorMessage" })

                @if (Model.Imagen != null)
                {
                    @Html.HiddenFor(model => Model.Imagen)
                    <img id="imgProducto" src="data:image/jpg;base64,@Convert.ToBase64String(Model.Imagen)" style="width:200px; height:200px" />
                }
                else
                {
                    <img id="imgProducto" src="~/Images/producto.png" style="width:200px; height:200px" />
                }
            </div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-1 offset-md-5">
                <input type="submit" class="btn btn-success" value="Guardar" />
            </div>
            <div class="col-md-1">
                <a asp-action="GetAll" asp-controller="Producto" class="btn btn-danger">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>


<script src="~/Scripts/Producto/PreviewImage.js"></script>
<script src="~/Scripts/Producto/DropDownList_Area_producto.js"></script>
