@model ML.Producto
@{
    ViewData["Title"] = "GetAll";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.13.4/js/dataTables.bootstrap5.min.js"></script>


<div class="container">
    <div class=row>
        <div class="text-center pb-4">
            <h2>Productos</h2>

        </div>
        @* <div class="col-md-6 col-sm-12">
            <h2>Detalle</h2>

        </div> *@
    </div>

    <div class="row">
        <div class="col-md-12">
            <h5>Seleccione un producto para editarlo o + para agregar...</h5>
            <hr />
        </div>
    </div>

    <div style="float:right;" class="p-4">
        @Html.ActionLink("+", "Form", "Producto", htmlAttributes: new { @class = "btn btn-success" })
    </div>

    @if (Model != null)
    {
        <div class="row">
            @* <table id="example" class="table table-hover table-striped table-bordered table-responsive" id="table_sucursales"> *@
            <table id="example" class="table table-striped" style="width:100%">

                <thead>
                    <tr class="table-secondary">
                        <td>Editar</td>
                        <td style="display :none;">id</td>
                        <td>Nombre</td>
                        <td>Codigo de barras</td>
                        <td>Modelo</td>
                        <td>Marca</td>
                        <td>Proveedor</td>
                        <td>Departamento</td>
                        <td>Imagen</td>
                        <td>Eliminar</td>
                    </tr>
                </thead>
                <tbody>
                    @foreach (ML.Producto producto in Model.Productos)
                    {
                        <tr>
                            <td style="text-align: center; vertical-align: middle;"><a class="btn btn-outline-warning glyphicon" href="@Url.Action("Form", "Producto", new { IdProducto = producto.IdProducto })"><img src="/Images/editar.png"></a></td>
                            <td style="display :none;">@producto.IdProducto </td>
                            <td>@producto.Nombre </td>
                            <td>@producto.CodigoBarras</td>
                            <td>@producto.Modelo</td>
                           <td>@producto.Marca.Nombre</td>
                            <td>@producto.Proveedor.Nombre</td>
                            <td>@producto.Departamento.Nombre</td>
                            <td>
                                @if (producto.Imagen != null)
                                {
                                    <img src="data:image/jpg;base64,@Convert.ToBase64String(producto.Imagen)" style="width:100px; height:100px" />
                                }
                                else
                                {
                                    <img id="imgUsuario" src="~/Images/producto.png" style="width:150px; height:150px" />
                                }
                            </td>
                            <td style="text-align: center; vertical-align: middle;"><a class="btn btn-outline-danger glyphicon glyphicon-trash" href="@Url.Action("Delete", "Producto", new { IdProducto = producto.IdProducto})" onclick="return confirm('Estas seguro que deseas eliminar este registro?');"><img src="/Images/remove.png"></a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    }

</div>


<script>
    $('#example').DataTable();

</script>
